<table class="table">
    <tr>
        <th>#Id</th>
        <th>Name</th>
        <th>Position</th>
        <th>Number</th>
        <th>Age</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let player of players">
        <td>{{player._id}}</td>
        <td>{{player.name}}</td>
        <td>{{player.position}}</td>
        <td>{{player.number}}</td>
        <td>{{player.age}}</td>
        <td>
            <button class="btn btn-info" style="margin:10px ;" (click)="goToDisplay(player._id)" >Display</button>
            <button class="btn btn-warning"style="margin:10px ;" (click)="goToEdit(player._id)">Edit</button>
            <button class="btn btn-danger" (click)="delete(player._id)">Delete</button>
        </td>
    </tr>
</table>