<form>
    <div class="text-center">
    
    <input type="text" [(ngModel)]='term' name="term">
    </div>
   </form>

<table class="table">
    <tr>
        <th>#Id</th>
        <th>Score One</th>
        <th>Score Two</th>
        <th>Team One</th>
        <th>Team Two</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let match of pageOfItems | myFiltre:term">
        <td>{{match._id}}</td>
        <td>{{match.scoreOne}}</td>
        <td>{{match.scoreTwo}}</td>
        <td>{{match.teamOne}}</td>
        <td>{{match.teamTwo}}</td>
        <td>
            <button class="btn btn-info" style="margin:10px ;" (click)="goToDisplay(match._id)">Display</button>
            <button class="btn btn-warning"style="margin:10px ;"(click)="goToEdit(match._id)">Edit</button>
            <button class="btn btn-danger" (click)="delete(match._id)">Delete</button>
        </td>
    </tr>
</table>
<div class="container">
    <div style="margin-left: 35%;">
        <jw-pagination [items]="matches" (changePage)="onChangePage($event)" [pageSize]="2"></jw-pagination>
       </div>
</div>