<div
  class="hero overlay"
  style="background-image: url('assets/images/bg_3.jpg')"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 mx-auto text-center">
        <h1 class="text-white">Edit Team</h1>
      </div>
    </div>
  </div>
</div>
<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
<form #teamForm="ngForm" (ngSubmit)="editTeam()">
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="team.name" name="a" placeholder=" Name">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="team.foundation" name="b" placeholder="Foundation">
      </div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="team.stadium" name="c" placeholder="Stadium">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="team.owner" name="d" placeholder="Owner">
    </div>
    
    
    <div class="form-group">
      <input type="submit" class="btn btn-primary py-3 px-5" value="Edit Team">
      <span style="color: red;">{{errorMsg}}</span>
    </div>
  </form>
  </div>
  </div>
  </div>
  </div>